<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RxJS</title>
    <link rel="stylesheet" href="/style.e308ff8e.css">
    <link rel="shortcut icon" href="/favicon.fc7b9a6e.ico" type="image/x-icon">
    <script src="/style.e308ff8e.js"></script>
</head>

<body>
    <div class="wrapper">
        <button class="button" id="myButton">
            <span>Test</span>
        </button>
    </div>
    <script src="/scripts.b71a6038.js"></script>
</body>

</html>