//* PT Sans
@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);

@font-face {
    font-family: 'Nexa Black';
    src: url(../../fonts/Nexa-Black.ttf);
}

@font-face {
    font-family: 'Nexa';
    src: url(../../fonts/Nexa-Regular.ttf);
}

@font-face {
    font-family: 'Nexa - Book';
    src: url(../../fonts/Nexa-Regular.ttf);
}

@font-face {
    font-family: 'Arial MT';
    src: url(../../fonts/ArialMT.otf);
}