<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>

    <div class="header">
        <div class="container header-relative">

            <div class="header-navbar">
                <span class="logo">
                    <a href="#`">Free Design</a>
                </span>
                <ul class="navigation">
                    <li>
                        <a href="#">About</a>
                    </li>

                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#">Login</a>
                    </li>
                    <li>
                        <a href="#" class="active">Sign up</a>
                    </li>
                </ul>
            </div>

            <div class="header-circle">
                <div class="header-circle-relative">
                    <div class="header-circle-bgc"></div>
                </div>
            </div>

            <!--? BEM - Block Element Modyficator -->
            <div class="header-content">
                <span class="header-content_subtitle">Thinking About</span>
                <span class="header-content_title">Freebie Design</span>
                <button type="button" class="header-btn">Get Started</button>
            </div>

        </div>
    </div>

    <div class="main">

        <div class="main-content">
            <div class="main-content-1">

                <div class="main-content_col-1 main-content_col-1__row-1">

                    <div class="main-text">
                        <span class="main-text_subtitle">I think you will</span>
                        <span class="main-text_title">like this Freebie</span>
                    </div>

                    <div class="main-margin">
                        <div class="main-text-description main-text-description-content-1">

                            <span class="main-text-description_text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae cumque nam similique
                                autem
                                consequatur, accusantium doloremque doloribus delectus non qui.
                            </span>

                            <span class="main-text-description_text">
                                Lorem ipsum dolor sit amet.
                            </span>

                            <div>
                                <a href="#">
                                    <span class="main-text-description_text main-text-description_text__download">
                                        Download Now
                                    </span>
                                </a>
                            </div>

                        </div>

                        <div class="main-btn-social">
                            <a href="https://play.google.com/store" target="_blank">
                                <img src="img/google_play.png" alt="google play">
                            </a>

                            <a href="https://www.apple.com/ru/ios/app-store/" target="_blank">
                                <img src="img/app_store.png" alt="app store">
                            </a>
                        </div>
                    </div>


                </div>

                <div class="main-content_col-2">
                    <img src="img/3-layers.png" alt="phone">
                </div>

            </div>

            <div class="main-content-grid">
                <div class="main-grid-1">
                    <img src="img/doulingo.png" alt="doulingo">
                </div>
                <div class="main-grid-2">
                    <div class="main-text">
                        <span class="main-text_subtitle">I think you will</span>
                        <span class="main-text_title">like this Freebie</span>
                    </div>

                    <div class="main-text-description">

                        <span class="main-text-description_text">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae cumque nam similique autem
                            consequatur, accusantium doloremque doloribus delectus non qui.
                        </span>

                        <span class="main-text-description_text">
                            Lorem ipsum dolor sit amet.
                        </span>

                        <div>
                            <a href="#">
                                <span class="main-text-description_text main-text-description_text__download">
                                    Download Now
                                </span>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="main-grid-3">
                    <img src="img/3-layers.png" alt="phone">
                </div>
                <div class="main-grid-4">
                    <div>
                        <div class="main-text-description">
                            <span class="main-text-description_text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae cumque nam similique
                                autem
                                consequatur, accusantium doloremque doloribus delectus non qui.
                            </span>

                            <span class="main-text-description_text">
                                Lorem ipsum dolor sit amet.
                            </span>

                            <div>
                                <a href="#">
                                    <span class="main-text-description_text main-text-description_text__download">
                                        Download Now
                                    </span>
                                </a>
                            </div>
                        </div>

                        <div class="main-btn-social">
                            <a href="https://play.google.com/store" target="_blank">
                                <img src="img/google_play.png" alt="google play">
                            </a>

                            <a href="https://www.apple.com/ru/ios/app-store/" target="_blank">
                                <img src="img/app_store.png" alt="app store">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-circle">
            <div class="main-circle-relative">
                <img src="img/green.png" alt="green-1">
                <img src="img/green.png" alt="green-2">
                <img src="img/gray.png" alt="green-1">
                <img src="img/gray.png" alt="green-2">
            </div>
        </div>

    </div>

    <div class="player">
        <div class="player-content">

            <div class="player-play">


                <label for="play" class="play-bg">
                    <img src="img/play.png" alt="play">
                </label>
                <input type="checkbox" id="play">
            </div>

            <span>PLAY INTRO VIDEO</span>
        </div>
    </div>

</body>

</html>