<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travler</title>
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="dist/css/main.css">
</head>

<body>
    <div class="landing-page">
        <div class="bg-navbar">
            <div class="container">
                <nav class="nav">
                    <div class="logo-search">
                        <div class="logo">
                            <a href="">
                                <img src="img/header/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="search">
                            <div class="search-logo">
                                <a href="">
                                    <span class="logo-text">Quicklinks</span>
                                    <img src="img/header/map_pin.png" alt="">
                                </a>
                            </div>
                            <div class="select">
                                <select name="select">
                                    <option selected>Select from dropdown</option>
                                    <option value="value1">Значение 1</option>
                                    <option value="value2">Значение 2</option>
                                    <option value="value3">Значение 3</option>
                                </select>
                            </div>
                            <div class="find-input">
                                <input type="text" placeholder="search...">
                            </div>
                        </div>
                    </div>
                    <ul class="navbar">
                        <li class="navbar-li">
                            <div class="navbar-li-line">
                                <a href="#">
                                    <img src="img/header/Travel_Guide.png" alt="">
                                    <span>Travel Guide</span>
                                </a>
                            </div>
                        </li>
                        <li class=" navbar-li">
                            <div class="navbar-li-line">
                                <a href="#">
                                    <img src="img/header/Services.png" alt="">
                                    <span>Services</span>
                                </a>
                            </div>
                        </li>
                        <li class="navbar-li">
                            <div class="navbar-li-line">

                                <a href="#">
                                    <img src="img/header/About.png" alt="">
                                    <span>About</span>
                                </a>
                            </div>
                        </li>
                        <li class="navbar-li">
                            <div class="navbar-li-line">

                                <a href="#">
                                    <img src="img/header/The_Tour.png" alt="">
                                    <span>The Tour</span>
                                </a>
                            </div>
                        </li>
                        <li class="navbar-li">
                            <div class="navbar-li-line">

                                <a href="#">
                                    <img src="img/header/Travel_Guide.png" alt="">
                                    <span>How to</span>
                                </a>
                            </div>
                        </li>
                        <li class="navbar-li">
                            <div class="navbar-li-line">
                                <a href="#">
                                    <img src="img/header/Contact.png" alt="">
                                    <span>Contact</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="bg-slider">
            <div class="bg-slider-bg">

            </div>
        </div>
        <div class="bg-travel-guide mp">
            <div class="container center col" data-aos="zoom-in">
                <h1>Anywhere, anytime, where here to help.</h1>
                <h6 class="main-focus">And we mean that.</h6>
                <div class="travel-guide-map">
                    <div class="card map-1">
                        <img src="img/bg-travel-guide/map.png" alt="">
                    </div>
                    <div class="card map-2">
                        <img src="img/bg-travel-guide/map.png" alt="">
                    </div>
                    <div class="card map-3">
                        <img src="img/bg-travel-guide/map.png" alt="">
                    </div>
                    <div class="card map-4">
                        <img src="img/bg-travel-guide/map.png" alt="">
                    </div>
                    <div class="here">
                        <img src="img/bg-travel-guide/here.png" alt="">
                        <img src="img/bg-travel-guide/here.png" alt="">
                    </div>
                </div>


            </div>
        </div>
        <div class="bg-service">
            <div class="container overflow">
                <div class="service-blocks">
                    <div class="service-block" data-aos="fade-right">
                        <img src="img/bg-travel-guide/clock.png" alt="">
                        <div class="h2">Save Time</div>
                        <div class="describe">
                            Lets throw a trackie dacks also it'll be gutta. You little ripper avos flamin lets throw a
                            lizard drinking. Gutful of jug where as busy as a big smoke. Grab us a billy as cunning as a
                            bull bar. As cunning as a bonzer flamin as stands out like cubby house. As cross as a mate
                            no
                            dramas as cunning as a bonzer. Gutful of kindie flamin as cross as a grundies. Lets throw a
                            strides also as cross as a thingo. Built like a old fella no dramas grab us a ten clicks
                            away. Lets get some digger when she'll be right metho. As cross as a no dramas as cunning as
                            a barrack.
                        </div>
                    </div>
                    <div class="service-block" data-aos="zoom-in-down">
                        <img src="img/bg-travel-guide/clode.png" alt="">
                        <div class="h2">Win over the team</div>
                        <div class="describe">
                            As cunning as a bonzer flamin as stands out like cubby house. As cross as a mate no dramas
                            as
                            cunning as a bonzer. Gutful of kindie flamin as cross as a grundies. Lets throw a strides
                            also as cross as a thingo.
                            Built like a old fella no dramas grab us a ten clicks away.

                        </div>
                    </div>
                    <div class="service-block" data-aos="fade-left">
                        <img src="img/bg-travel-guide/box.png" alt="">
                        <div class="h2">Design Features</div>
                        <div class="describe">
                            Lets throw a trackie dacks also it'll be gutta. You little ripper avos flamin lets throw a
                            lizard drinking. Gutful of jug where as busy as a big smoke. Grab us a billy as cunning as a
                            bull bar. As cunning as a bonzer flamin as stands out like cubby house. As cross as a mate
                            no
                            dramas as cunning as a bonzer. Gutful of kindie flamin as cross as a grundies. Lets throw a
                            strides also as cross as a thingo. Built like a old fella no dramas grab us a ten clicks
                            away. Lets get some digger when she'll be right metho. As cross as a no dramas as cunning as
                            a barrack.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-sub-servive center">
            <div class="sub-service" data-aos="fade-up">
                <img src="img/bg-sub-servive/Edit_this_layer.png" alt="">
                <div class="sub-services-text">
                    <div data-aos="zoom-in">
                        <div class="h2">
                            A simple begining lead to big ideas
                        </div>
                        <div class="h5">
                            We started small but grew quickly.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-about-the-tour-how-to">
            <div class="container">

            </div>
        </div>
        <div class="bg-footer">
            <div class="container">

            </div>
        </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/main.js"></script>
</body>

</html>