<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="navigation">
                <div class="logo_nav">
                    <a href="#"><img src="img/logo_nav.png" alt=""></a>
                </div>

                <nav class="nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Lorem Ipsum</a></li>
                        <li><a href="#">Dolor Sit Amet</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="nav_cont">
            <div class="slider_l">
                <i class="material-icons">
                    keyboard_arrow_left
                </i>
            </div>
            <div class="slider_r">
                <i class="material-icons">
                    keyboard_arrow_right
                </i>
            </div>
        </div>
        <div class="container">
            <div class="nav_content moverSlider">
                <div class="text_nav">
                    <p>Lorem Ipsum Dolor</p>
                    <p>IT WILL MAKE ALL OF YOUR DREAMS COME TRUE</p>
                    <p>Semper sollicitudin gravida eget, vestibulum sit amet sapien. Nunc dignissim tincidunt est, et
                        auctor turpis ornare a. Nam venenatis hendrerit est at volutpat.</p>
                </div>
                <div class="phone_nav">
                    <img src="img/iPhone_4.png" alt="">
                    <img src="img/Iphone_4_play.png" alt="">
                </div>
            </div>
            <div class="slider_click"></div>
        </div>
    </header>
    <main class="main">
        <div class="section_block_1">
            <div class="container">
                <figure class="figure_flex">
                    <div class="figure_main_block_1 mb_50">
                        <div class="icon1">
                        </div>
                        <div class="for_icon">
                            <p>ABOUT OUR COMPANY</p>
                            <p>Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices
                                posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam</p>
                            <a href="#">READ MORE</a>
                        </div>
                    </div>


                    <div class="figure_main_block_1 mb_50">
                        <div class="icon2">
                        </div>
                        <div class="for_icon">
                            <p>ABOUT OUR COMPANY</p>
                            <p>Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices
                                posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam</p>
                            <a href="#">READ MORE</a>
                        </div>
                    </div>

                    <div class="figure_main_block_1">
                        <div class="icon3">
                        </div>
                        <div class="for_icon">
                            <p>ABOUT OUR COMPANY</p>
                            <p>Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices
                                posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam</p>
                            <a href="#">READ MORE</a>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
        <section class="section_up">
            <div class="container">
                <figure class="figure_flex">
                    <figure class="PingbulLer">
                        <div class="flex">
                            <div class="pingbuler_logo"></div>
                            <div class="PingbulLer_content">
                                <h1>PingbulLer <span class="pink">starts here</span> </h1>
                                <p>“Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus
                                    ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae
                                    lectus eu
                                    libero pellentesque pulvinar urna risus, mattis pulvinar bibendum in, venenatis
                                    quis
                                    neque. Mauris nec metus ultricies erat consequat dignissim non eu nisl.”</p>
                            </div>
                        </div>
                        <div class="logo_slider_pig"></div>
                    </figure>
                    <figure class="Updates">
                        <h1>RECENT UPDATES</h1>
                        <div class="figure_flex">
                            <div class="logo_up_1"></div>
                            <div class="updates_content">
                                <p>Nunc turpis neque feugiat eget </p>
                                <p>Posted by Admin on March 13 2012 in Recent News</p>
                            </div>
                        </div>

                        <div class="figure_flex">
                            <div class="logo_up_2"></div>
                            <div class="updates_content">
                                <p>Nunc turpis neque feugiat eget </p>
                                <p>Posted by Admin on March 13 2012 in Recent News</p>
                            </div>
                        </div>

                        <div class="figure_flex">
                            <div class="logo_up_3"></div>
                            <div class="updates_content">
                                <p>Nunc turpis neque feugiat eget </p>
                                <p>Posted by Admin on March 13 2012 in Recent News</p>
                            </div>
                        </div>
                        <a href="#">read more here</a>
                    </figure>
                </figure>

            </div>
        </section>
        <hr class="hr_1">
        <div class="container">
            <figure class="partners">
                <div class="partners_block">
                    <a href="#">
                        <div class="parthner_sprite_1"></div>
                    </a>
                </div>
                <div class="partners_block">
                    <a href="#">
                        <div class="parthner_sprite_2"></div>
                    </a>
                </div>
                <div class="partners_block">
                    <a href="#">
                        <div class="parthner_sprite_3"></div>
                    </a>
                </div>
                <div class="partners_block">
                    <a href="#">
                        <div class="parthner_sprite_4"></div>
                    </a>
                </div>
                <div class="partners_block">
                    <a href="#">
                        <div class="parthner_sprite_5"></div>
                    </a>
                </div>
                <div class="partners_block">
                    <a href="#">
                        <div class="parthner_sprite_6"></div>
                    </a>
                </div>
            </figure>
        </div>
        <hr class="hr_2">
        <section class="section_2">
            <div class="container">
                <div class="flex">
                    <div class="section_2_block_1">
                        <p>PIGBULL<span>ER</span>
                        </p>
                        <p>Copyright 2013, Pingbull AS</p>
                        <p>Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices
                            posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero
                            pellentesque pul</p>
                    </div>
                    <div class="section_2_block_2">
                        <p>NEWS CATEGORIES</p>
                        <p>Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices
                            posuere.
                            Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero
                            pellentesque
                            pulvinar.
                            Quisque urna risus, mattis pulvinar bibendum in, venenatis quis</p>
                    </div>
                    <div class="section_2_block_2 mt_50">
                        <p>RECENT COMMENTS</p>
                        <p>Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices
                            posuere.
                            Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero
                            pellentesque
                            pulvinar.
                            Quisque urna risus, mattis pulvinar bibendum in, venenatis quis</p>
                    </div>
                    <div class="section_2_block_3">
                        <p>NEWS CATEGORIES</p>
                        <p>Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices
                            posuere.
                            Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero
                            pellentesque
                            pulvinar.
                            Quisque urna risus, mattis pulvinar bibendum in, venenatis quis</p>
                    </div>
                    <div class="section_2_block_3">
                        <p>NEWS CATEGORIES</p>
                        <p>Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices
                            posuere.
                            Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero
                            pellentesque
                            pulvinar.
                            Quisque urna risus, mattis pulvinar bibendum in, venenatis quis</p>
                    </div>
                    <div class="section_2_block_3">
                        <p>NEWS CATEGORIES</p>
                        <p>Nunc turpis neque, feugiat eget eleifend et, lacinia non neque. Praesent rhoncus ultrices
                            posuere.
                            Pellentesque vel lacus eget nisi convallis auctor. Nam vitae lectus eu libero
                            pellentesque
                            pulvinar.
                            Quisque urna risus, mattis pulvinar bibendum in, venenatis quis</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container flex">
            <nav class="display">
                <ul class="footer_nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Lorem Ipsum</a></li>
                    <li><a href="#">Dolor Sit Amet</a></li>
                </ul>
            </nav>
            <div class="footer_copyright">
                <p>Designed by <span>Pingbull AS</span></p>
            </div>
        </div>
    </footer>
</body>

</html>